:root {
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #f6fbff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547;
    background-color: #ffffff; */
  }
}

.file-uploader {
  width: 100%;
}
